{% extends 'base.html' %}
{% block content %}
<html>
  <head>
      <title>Contacto</title>
      <link rel="stylesheet" href="css/style.css" type="text/css">
      <link rel="shortcut icon" href="img/logo.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Llamado a CDN Boostrap y sus bibliotecas-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <!-- Fin CDN -->
      <!--Boton Buscar Script-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <!--Fin buscar-->
      <!--Link Flexbox-->
      <link rel="stylesheet" type="text/css" href="css/flexboxgrid.css">
        <!--llamamos a  las font family de Google a utilizar en la pagina-->
        <link href="https://fonts.googleapis.com/css?family=Abel|Dancing+Script|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <!--Fin Google Font-->

  </head>
  <body>
          <!--fin buscar-->
      </div>
      <!--Fin contacto barra superior-->
      <form class="container justify-content-center">
          <div class="form-group container-small">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Direccion de Correo Electronico">
            <small class="form-text text-muted">Solo para fines de contacto.</small>
          </div>
          <div class="form-group container-small">
              <label>Telefono</label>
              <input type="tel" class="form-control" placeholder="+56987654321">
            </div>
          <div class="form-group container-small">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group container-small">
              <label >Comentarios</label>
              <textarea class="form-control" rows="4" cols="20" placeholder="Sugerencias, reclamos o comentarios."></textarea>
            </div>
          <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
      </form>
      </body>
{% endblock content %}
</html>