{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Opciones</th>
    </tr>

    {% for a in noticias %}
    <tr>
        <td>{{ a.titulo_noticia }}</td>
        <td>{{ a.descripcion }}</td>
        <td>
        <a href="{% url 'Smash:eliminar_noticia' a.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% if messages %}

    {% for m in messages%}
    <div>{{ m }}</div>
    {% endfor %}

{% endif %}
{% endblock content %}